.purple-red-gradient-text {
  background: -webkit-linear-gradient(35deg, rgba(160, 63, 251, 1) 10%, rgb(255, 12, 60) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-orange-gradient-text {
  background: -webkit-linear-gradient(35deg, rgb(255, 55, 48) 0%, rgb(199, 129, 0) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.transparent {
  background: transparent;
}

.no-border {
  border: none;
}

.glass {
  background: rgba(255, 255, 255, 0.575);
  box-shadow: 0px 3px 10px 0 rgba(3, 5, 41, 0.425);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  transition: 300ms;
}

.glass:hover {
  background: rgba(255, 255, 255, 0.70);
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 300ms;
}

.glass-light {
  background: rgba(255, 255, 255, 0.87);
  box-shadow: 0px 3px 10px 0 rgba(3, 5, 41, 0.425);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.13);
  transition: 300ms;
}

.glass-light:hover {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 300ms;
}

.glass-dark {
  background: rgba(0, 0, 0, 0.60);
  box-shadow: 0px 3px 10px 0 rgba(3, 5, 41, 0.425);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  transition: 300ms;
}

.glass-dark:hover {
  background: rgba(0, 0, 0, 0.50);
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 300ms;
}

.dark {
  color: #fff;
}

.bounce-active {
  transition: 300ms;
}

.bounce-active:active {
  transform: scale(0.95);
  transition: 100ms;
}

.btn {
  background: transparent;
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.grow-btn {
  background: transparent;
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
}