@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
  margin: 0;
  font-family: 'SF Pro Display', sans-serif;
}

.container {
  width: 46rem;
  height: 32rem;
}

.header {
  padding: 1rem 0.5rem;
  background: -webkit-linear-gradient(4deg, rgba(63, 94, 251, 1) 0%, rgba(255, 59, 99, 1) 100%);
  display: flex;
  justify-content: space-between;
}

.header h1{
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  color: white;
}

.header form {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.header form .formControl {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.header form .formControl .prefix-selector {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  background: -webkit-linear-gradient(11deg, rgba(54, 230, 231, 1) 0%, rgba(42, 132, 194, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header form .formControl input {
  font-size: 1rem;
  border: none;
  padding: 0.2rem 0.5rem;
  background: transparent;
  outline: none;
}

.header form button {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.header form button img {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  width: 100%;
  height: 100%;
}

.content iframe {
  width: 100%;
  height: 100%;
  border: none;
}